<po-page-default p-title="Cadastro de pessoas" [p-actions]="pageActions">
  <po-button-group [p-buttons]="buttons"> </po-button-group>

  <app-table-pessoa
    *ngIf="showInTable;else card"
    [pessoas]="pessoas"
    (deletar)="deletar($event)"
  ></app-table-pessoa>

  <ng-template #card>
    <app-card-pessoa
      *ngFor="let item of pessoas"
      [item]="item"
      (deletar)="deletar($event)"
    ></app-card-pessoa>
  </ng-template>

  <po-modal
    #modal
    p-title="Pessoa"
    [p-primary-action]="confirm"
    [p-secondary-action]="close"
  >
    <app-form-pessoas #form></app-form-pessoas>
  </po-modal>
</po-page-default>
